# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.app

# Common project files
.DS_Store
.project
.cproject
compile_commands.json
.clangd/
.vscode
.idea

build*/
bin/
*.swp
.~*
cmake-build-debug
cmake-build-release
